@model Shop.Domain.ProductsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ProductsModel</title>
</head>
<body>
<div class="border-1">
    @foreach (var product in @Model.Products)
    {
        <div>@product.Name</div>
        <div>@product.Description</div>
    }
</div>
</body>
</html>